.text-results {
  text-align: center;
  margin: 5rem;
  color: #fff;
  font-style: italic;
  font-weight: 100;
}

@media only screen and (max-width: 600px) {
  .aph-row {
    flex-direction: column;

    .aph-col {
      max-width: none;
    }
  }
}
